<section class="promo">
  <div class="col-md-6 col-xs-12 promo__wrap">
    <div class="promo__registr">
      <a href="javascript:void(0);" class="login-popup" data-toggle="modal" data-target="#loginModel">
        Скидка <span class="promo__sale">10%</span><br> всем зарегистрированным покупательницам*<br>
      </a>
      <span class="note">*Скидка действует на все товары, кроме акционных</span>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 promo__wrap">
    <div class="promo__deliver">
      Бесплатная доставка<br>При заказе от 3-х единиц товара
    </div>
  </div>
  <div class="col-md-12 promo__img">
    <div class="promo__product">
      <a href="/index.php?route=information/information&amp;information_id=30">
        <div class="promo__product_sale">-20%</div>
        <div class="promo__product_title">Товар дня</div>
        <div class="promo__product_appeal">Не пропусти скидку! Всего 1 день</div>
      </a>
    </div>
  </div>
</section>


<section class="promo">
  <div class="col-md-6 col-xs-12 promo__wrap">
    <div class="promo__registr">
      <a href="javascript:void(0);" class="login-popup" data-toggle="modal" data-target="#loginModel">
        Знижка <span class="promo__sale">10%</span><br> всім зареєстрованим покупцям*<br>
      </a>
      <span class="note">*Знижка діє на всі товари, крім акційних</span>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 promo__wrap">
    <div class="promo__deliver">
      Безкоштовна доставка <br> При замовленні від 3-х одиниць товару
    </div>
  </div>
  <div class="col-md-12 promo__img">
    <div class="promo__product">
      <a href="/index.php?route=information/information&amp;information_id=30">
        <div class="promo__product_sale">-20%</div>
        <div class="promo__product_title">Товар дня</div>
        <div class="promo__product_appeal">Не пропусти знижку! Всього 1 день</div>
      </a>
    </div>
  </div>
</section>
