.latesthom
  margin-top: 30px
  &__button
    margin-top: 20px
    font-size: 16px
    font-weight: 700
    text-align: center
    letter-spacing: 1.3px
  &__btn
    color: $text-color
    text-decoration: underline
    &:hover, &:focus
      text-decoration: none
      color: $text-color
  &__swiper-container
    margin-top: 30px
