@media (max-width: 1439px)
  .header
    &__item:not(:last-child)
      padding-right: 30px
  .latesthom
    .container
      padding-left: 25px

@media (max-width: 1200px)
  .header
    &__link
      padding: 2px 8px 4px 8px
    &__item:not(:last-child)
      padding-right: 15px
      a
        font-size: 12px
  .hamburger
    &_active
      left: 5px
  .slideshow
    &__title
      &_1
        font-size: 38px
    &__appeal
      &_1
        font-size: 24px
    &__new
      &_1
        font-size: 18px

@media (max-width: 991px)
  .hamburger
    &_active
      left: 5px
  .swiper-button-next, .swiper-button-prev
    background-size: 17px 43px
    width: 36px !important
    height: 36px !important
  .swiper-button-prev
    left: -15px !important
  .swiper-button-next
    right: 0 !important
  .slideshow
    margin: 0
    margin-top: -60px
    &__descr
      &_1
        padding-left: 240px
        padding-right: 82px
    &__title
      letter-spacing: -1px
      &_1
        font-size: 28px
      &_2
        font-size: 35px
      &_3
        font-size: 30px !important
      &_4
        font-size: 30px
    &__appeal
      &_1
        font-size: 18px
    &__btn
      &_1
        font-size: 14px
      &_2
        font-size: 16px
      &_3
        font-size: 14px !important
        margin-top: 7px !important
    &__new
      &_1
        padding-right: 70px
        margin-top: 5px
        font-size: 16px
  .bannerhom
    &__banner
      padding: 0 25px
    &__title
      font-size: 25px
      line-height: .5
    &__btn
      margin-top: 13px


@media (max-width: 767px)
  .html_active
    margin-left: 0
  .hamburger
    left: 34px
    &_active
      left: 350px
      z-index: 11
      top: 70%
  .header
    &__right-menu
      padding: 8px 0 0 15px
    &__accaunt .dropdown-menu
      left: 0
  .slideshow
    &__descr
      &_1
        top: 20px
        padding-left: 191px
        padding-right: 69px
    &__title
      &_1
        font-size: 23px
      &_2
        font-size: 25px
      &_3
        font-size: 24px !important
      &_4
        font-size: 24px !important
        margin-left: 20px
    &__appeal
      &_1
        font-size: 16px
    &__btn
      &_1
        font-size: 12px
        margin-top: 7px
      &_2
        font-size: 14px
        margin-top: 21px
    &__new
      &_1
        margin-top: 1px
        font-size: 10px
        padding-right: 70px
        letter-spacing: 1px
      &_2
        margin-top: 5px
  .bannerhom
    margin-top: -20px
    &__banner
      padding: 0 15px
    &__title
      font-size: 21px

@media (max-width: 575px)
  .fixed
    top: -87px
  .hamburger
    left: 15px
    width: 25px
    &_active
      left: 235px
  .menu
    width: 280px
    &__item
      font-size: 16px
  .header
    &__logo
      right: 15px
      font-size: 27px
      letter-spacing: 5px
      span
        font-size: 15px
        letter-spacing: 4px
    &__right
      height: 57px
    &__right-menu
      padding: 16px 0 0 15px
    &__language .dropdown-menu,
    &__cart .dropdown-menu,
    &__phone .dropdown-menu,
    &__accaunt .dropdown-menu
      top: 38px
  .slideshow
    &__descr
      &_1
        top: 10px
        padding-left: 91px
        padding-right: 23px
    &__title
      &_1
        font-size: 14px
        letter-spacing: .1px
      &_2
        font-size: 18px
      &_3
        font-size: 14px !important
      &_4
        font-size: 14px !important
        margin-left: 10px
    &__appeal
      &_1
        display: none
    &__btn
      font-size: 12px
      &_1
        margin-top: 0
      &_2
        margin-top: 9px
      &_3
        display: none !important
    &__new
      display: none
  .bannerhom
    &__title
      font-size: 10px
      line-height: .1
    &__text
      font-size: 10px
    &__btn
      margin-top: 8px
      font-size: 10px
