.newstoko
  &__form
    width: 300px
    margin-right: auto
    margin-left: auto
    margin-top: 40px
  &__btn
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  svg
    width: 18px
    height: auto
