.slideshow
  &__title_3
    font-size: 40px
  &__title_4
    display: inline-block
    margin-left: 40px
    color: $main-color
    font-size: 40px
    background: $salat-color
    padding: 0 10px
#slideshow1
  margin-top: -60px
