@import 'libs/fonts'
@import 'base/variables'


*
  font-family: 'Museo Sans', sans-serif
html
  transition: 0.7s all
.html_active
  margin-left: 400px

.container
  position: relative
.container-fluid
  padding-left: 0
  padding-right: 0

.note
  text-transform: lowercase
  color: $grey-color
  font-size: 10px


@import 'blocks/header'
@import 'blocks/menu'
@import 'blocks/search'
@import 'blocks/cart'
@import 'blocks/callback'
@import 'blocks/form'
@import 'blocks/menugz'
@import 'blocks/buttons'
@import 'blocks/_promo'
@import 'blocks/_slideshow'
@import 'blocks/bannerhom'

@import 'blocks/media'
